body {
  font-family: 'Segoe UI', sans-serif;
  margin: auto;
  background-color: #ffffff;
}

.page {
  padding: 100px;
  text-align: center;
}

.form input {
  padding: 10px;
  margin: 30px;
  width: 200px;
}

.form button {
  padding: 10px 20px;
  background-color: #042756;
  border: #000000;
  color: white;
  cursor: auto;
  border-radius: 5px;
}
